#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  text-align: center;
  background-size: cover;
  background-image: linear-gradient(to right, #15202b, #080f16);
}

i {
  z-index: 99999999;
}

.language-container {
  height: fit-content;
  width: fit-content;
  display: flex;
  position: relative;
  top: -45%;
  left: calc(-50% + 200px);
  z-index: 999;
}

.MainLogin {
  width: 450px;
  height: 500px;
  border-radius: 5%;
  background: white;
  position: absolute;
  visibility: visible;
  z-index: 1;
}

.companyName {
  color: #767272;
  font-size: 25px;
  font-style: oblique;
  position: relative;
  top: 30px;
}

.username {
  position: relative;
  top: 85px;
}

.password {
  position: relative;
  top: 100px;
}

.line {
  width: 130px;
  height: 1px;
  background: black;
}

.devider {
  font-size: 17px;
  font-style: italic;
  position: relative;
  top: 190px;
}

.losbutton {
  --va-button-content-px: 100px;
}

.ballcontainer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.ball {
  display: inline-block;
  position: absolute; /* REQUIRED */
  background-color: #00ba7c;
  z-index: 0;
  border-radius: 50%;

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.21) inset;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.21) inset;
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.21) inset;
}

[data-size='small-small'] {
  width: 7vw;
  height: 7vw;
}

[data-size='small'] {
  width: 10vw;
  height: 10vw;
}

[data-size='medium-small'] {
  width: 15vw;
  height: 15vw;
}

[data-size='medium'] {
  width: 20vw;
  height: 20vw;
}

[data-size='large'] {
  width: 25vw;
  height: 25vw;
}

[data-size='large-large'] {
  width: 30vw;
  height: 30vw;
}

[data-size='constant-large'] {
  width: 600px;
  height: 600px;
}
